extends ../layout/commom.pug
block content
  h2 Thích thì mua , không thích thì mua
  h3 Information of this products
  a(href=`/products?page=${pageCurrent}` class="btn btn-primary") Get back
  .card
    .wrapper
      .img(style=`background-image: url("/images/${Math.floor(Math.random() * 7) + 1}.jpg")`)
      .infor
        .wrap
          .title=product.name
          .author=product.price
          a(href="/cart/add/" + product.id + `?page=${pageCurrent}`).btn.btn-primary Mua ko em
          
